<div class="search-block parallaxBg" style="background-position: 50% 16px;">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h1>단국대 <span class="color-green">전화번호</span> 검색</h1>

    <%= form_for @new_search, html: {role: "search"} do |f| %>
      <div class="row">
        <div class="col-md-3 col-xs-4">
          <div class='input-group'>
            <%= f.select :campus, options_for_select(@campus), {:prompt => "캠퍼스"}, {class: "btn-u form-control" } %>
          </div>
        </div>
        <div class='col-md-9 col-xs-8'>
          <div class="input-group border-input">
            <%= f.text_field :belong, class: "form-control",  placeholder: "과/학과 OR 명칭/이름" %>
      			<span class="input-group-btn">
              <%= button_tag(type: 'submit', class: "btn-u btn-u-lg") do %>
                <i class="fa fa-search"></i>
              <% end %>
      			</span>
          </div>
        </div>
      </div>
    <% end %>
    
		</div>
	</div>
</div>