[data-field = "max-width-20" ] {
    max-width: 20px;
}
[data-field = "width-30" ] {
    width: 30px;
}
[data-field = "width-80" ] {
    width: 80px;
}
[data-field = "width-130" ] {
    width: 130px;
}
