.hover_blue:hover {
  background-color: #5faee3;
}
.locker-table {
  td {
    padding: 20px 0px !important;
    a {
      font-size: 18px;
    }
  }
}
.red-box {
  border: 5px solid red !important;
}
