[data-field = "num" ] {
    width: 25px;
}
[data-field = "user" ]{
    width: 80px;
}
[data-field = "like" ] {
  width: 80px;
  button#like { padding: 0px;}
}
[data-field = "hits" ] {
    width: 25px;
}
[data-field = "time" ] {
    width: 85px;
}

@media screen and (min-width: 768px) {
    .text-right_sm-left_xs{
        text-align: right;    
    }
}
@media screen and (max-width: 768px) {
    .text-right_sm-left_xs{
        text-align: left;    
    }
}