[data-field = "num" ] {
    min-width: 25px;
}
[data-field = "user" ]{
    min-width: 80px;
}
[data-field = "like" ] {
  min-width: 80px;
  button#like { padding: 0px;}
}
[data-field = "hits" ] {
    min-width: 25px;
}
[data-field = "time" ] {
    min-width: 85px;
}

@media (min-width: 768px) {
    .text-right_sm-left_xs{
        text-align: right;
    }
}
@media (max-width: 768px) {
    .text-right_sm-left_xs{
        text-align: left;
    }
}
