/ 덧글작성 Form
.row.blog-comments.margin-bottom-30
  .col-sm-2.sm-margin-bottom-40.text-right_sm-left_xs
    = image_tag current_user.profile.nil? ? current_user.profile : "placeholder.jpg"
  .col-sm-10
    / Form
    = form_for [@board, @post, @post.comments.new], class: "comment-style", novalidate:"novalidate", remote: true do |f|
      %fieldset
        .comments-itself
          = f.text_area :content, class: "redactor", placeholder: "예의 있게 써주세요", row: 3
          .text-center.ladda-btn
            = f.submit "덧글달기", data: { disable_with: "Ing..."}, :style => "z-index: 9999;" ,class: "btn-u ladda-button btn-u-blue", id: "ladda-btn"
