.error-bg
  .container
    / Error Block
    .row
      .col-md-8.col-md-offset-2
        .error-v7
          %h1 That's an error!
          %span.sorry The requested URL was not found on this server. That's all we know.
          %strong.h1 404
  / /container
