- flash.each do |type, message|
  %div{:class => "alert #{bootstrap_class_for(type)} fade in text-center", id: "flash"}
    %button.close{"data-dismiss" => "alert"} ×
    = message
:javascript
  $(document).ready(function(){
    $("#flash").delay(2200).slideUp(500);
  });
