#jstree
	%ul
		%li{data: {jstree: '{"icon": "' + image_path("blogging/server.png").to_s + '"}'}}
			Server
			%ul
				%li Child node 1
				%li Child node 2
		%li{data: {jstree: '{"icon": "' + image_path("blogging/html.png").to_s + '"}'}}
			HTML
			%ul
				%li Child node 1
				%li Child node 2
		%li{data: {jstree: '{"icon": "' + image_path("blogging/css.png").to_s + '"}'}}
			CSS
			%ul
				%li Child node 1
				%li Child node 2
		%li{data: {jstree: '{"icon": "' + image_path("blogging/js.png").to_s + '"}'}}
			JS
			%ul
				%li Child node 1
				%li Child node 2
		%li{data: {jstree: '{"icon": "' + image_path("blogging/ruby.png").to_s + '"}'}}
			Ruby On Rails
			%ul
				%li Child node 1
				%li Child node 2
		%li{data: {jstree: '{"icon": "' + image_path("blogging/treasure.png").to_s + '"}'}}
			Toy Project
			%ul
				%li Child node 1
				%li Child node 2
