.error-bg
  .container
    / Error Block
    .row
      .col-md-8.col-md-offset-2
        .error-v7
          %h1 NOT YET
          %span.sorry 시간이 아직 안되었습니다. 개방시간까지 조금만 기다려주세요
          %strong.h1 NOT YET
  / /container
