.error-bg
  .container
    / Error Block
    .row
      .col-md-8.col-md-offset-2
        .error-v7
          = render partial: "application/flash/static_flash_message", flash: flash if controller_name != "lockers" && controller_name != "used_books"
          %strong.h1 신청에 실패했습니다.
  / /container
