<div class="wrapper">
    <div class="main">
        <div class="section-white">
            <div class="container tim-container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <p id="notice"><%= notice %></p>
                      <%= render "/phone_search/form" %>
                    </div>
                      <!-- 도구바 End -->
                      <%= render "/phone_search/list" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
