<div class="wrapper">
    <div class="main">
        <div class="section-white">
            <div class="container tim-container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <p id="notice"><%= notice %></p>
                      <!-- 도구바 Start -->
                      <div id="navbar-warning">
                        <%= render '/phone_search/form' %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
