 @font-face {
  font-family: 'Nanum Gothic';
  src: font-url('NanumGothic.eot');
  src: font-url('NanumGothic.eot?#iefix') format('embedded-opentype'),
    font-url('NanumGothic.woff') format('woff'),
    font-url('NanumGothic.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'MalgunGothic';
  src: font-url('MalgunGothic.eot');
  src: font-url('MalgunGothic.eot?#iefix') format('embedded-opentype'),
    font-url('MalgunGothic.woff') format('woff'),
    font-url('MalgunGothic.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

* {
		font-family:'MalgunGothic', sans-serif;
}
