
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree ./rehearsal_sign
 *= require_self
 */
 /*sns*/

  /*sns*/
   .share-facebook { background:#3B5998; color:white; padding:5px 4px 3px 4px; }

  .share-google-plus { background:#DD4B39; color:white; padding:6px 4px 2px 4px; }

  .share-linked-in { background:#0077B5; color:white; }

  .share-base {
     cursor: pointer;
     width: 35px;
     padding: 8px 0;
     text-align: center;
     border-radius: 3px;
     clear: none;
     float: left;
     display: block;
     margin: 5px;
     font-size: 20px;
 }

  .share-twitter { background:#55ACEE; color:white; }

  .social-sharing-widget-vertical,  .social-sharing-widget-vertical {
     max-width:65px;
     margin: 5px 0 5px 0;
     padding: 0;
     background-color: #f6f6f6;
     border: 1px solid #ddd;
     border-top-width: 0;
     border-top: 5px solid #ccc \9;
     -webkit-box-shadow: #ccc 0px -5px 0px;
     -moz-box-shadow: #ccc 0px -5px 0px;
     box-shadow: #ccc 0px -5px 0px;
     -moz-border-radius-topleft: 0;
     -webkit-border-top-left-radius: 0;
     border-top-left-radius: 0;
     -moz-border-radius-topright: 0;
     -webkit-border-top-right-radius: 0;
     border-top-right-radius: 0;
     -moz-border-radius-bottomleft: 4px;
     -webkit-border-bottom-left-radius: 4px;
     border-bottom-left-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     -webkit-border-bottom-right-radius: 4px;
     border-bottom-right-radius: 4px;
 }

  .social-sharing-widget-vertical .share{
   text-align:center;
   text-transform:uppercase;
  color:#555;
   font-family:sans-serif;
   font-size:15px;
   padding:5px;
 }


    .social-sharing-widget-vertical .share{
   text-align:left;
   text-transform:uppercase;
   color:#555;
   font-family:sans-serif;
   font-size:15px;
   padding:5px;
 }

    .social-sharing-widget-vertical,  .social-sharing-widget.vertical  {
     float: none;
     height: auto;
         max-width: 240px;
     width: 240px;
     margin: 20px 0;
     padding: 0px 8px 5px;
     display:block;
     overflow:hidden;
 }
