/ === Footer Version 1 ===
.footer-v1
  -# .footer
    .container
      -# .row
        / About
        .col-md-3.md-margin-bottom-40
          %a{:href => "index.html"}
          -# = image_tag
        / /col-md-3
        / End About
        / Latest
        .col-md-3.md-margin-bottom-40
          .posts
            .headline
              %h2 Latest Posts
            %ul.list-unstyled.latest-list
              %li
                %a{:href => "#"} Incredible content
                %small May 8, 2014
              %li
                %a{:href => "#"} Best shoots
                %small June 23, 2014
              %li
                %a{:href => "#"} New Terms and Conditions
                %small September 15, 2014
        / /col-md-3
        / End Latest
        / Link List
        .col-md-3.md-margin-bottom-40
          .headline
            %h2 핫태핫태
          %ul.list-unstyled.link-list
            %li
              = link_to pickmes_path do
                Professor 101(인기 투표)
              %i.fa.fa-angle-right
            %li
              = link_to sign_in_test_users_path do
                수강신청 리허설
              %i.fa.fa-angle-right
            %li
              = link_to lecture_infos_path do
                강의 평가
              %i.fa.fa-angle-right
        / /col-md-3
        / End Link List
        / Address
        .col-md-3.md-margin-bottom-40
          .headline
            %h2 Contact Us
          %address.md-margin-bottom-40
            Email:
            %a{:href => "#"} antmgu@gmail.com
        / /col-md-3
        / End Address
  / /footer
  .copyright
    .container
      .row
        .col-md-6
          %p
            2016 © All Rights Reserved.

        / Social Links
        .col-md-6
          %p
            만든 돌아이들.
            %a{:href => "#"} 문승현
            |
            %a{:href => "#"} 김영일
            |
            %a{:href => "#"} 김순후
            |
            %a{:href => "#"} 유태하
          -# %ul.footer-socials.list-inline
            %li
              %a.tooltips{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-facebook
            -# %li
            -#   %a.tooltips{"data-original-title" => "Skype", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
            -#     %i.fa.fa-skype
            -# %li
            -#   %a.tooltips{"data-original-title" => "Google Plus", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
            -#     %i.fa.fa-google-plus
            -# %li
            -#   %a.tooltips{"data-original-title" => "Linkedin", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
            -#     %i.fa.fa-linkedin
            -# %li
            -#   %a.tooltips{"data-original-title" => "Pinterest", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
            -#     %i.fa.fa-pinterest
            -# %li
            -#   %a.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
            -#     %i.fa.fa-twitter
            -# %li
            -#   %a.tooltips{"data-original-title" => "Dribbble", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
            -#     %i.fa.fa-dribbble
        / End Social Links
  / /copyright
/ === End Footer Version 1 ===
