-# sns공유
.sns-box
  %a.kakao-link-btn.btn-ka.btn-sns{:href => "javascript:;", style: "text-decoration: none;"}
    = image_tag "icon-ka.png"
  %a.btn.twitter-share-button.btn-tw.btn-sns{style: "margin-left: 6px;", data: { id: "share-tw"}, :href => "javascript:;"}
    =fa_icon "twitter"
  %a.fshare.btn-fb.btn-sns{class: "btn"}
    =fa_icon "facebook"
